@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
/* Header acima do conteúdo com a navbar. */
.navbar.navbar-expand-sm.navbar-dark{
    padding: 16px;
}
.btn.btn-primary{
    background-color: red;
    border-color: red;
    padding: 10px 40px;
    margin: 5px 0px;
}
.btn.btn-primary:hover{
    background-color: rgb(141, 0, 0);
    border-color: rgb(141, 0, 0);
}
/* Conteúdo do site com a div content */
.content{
    text-align: center;
    margin: 10px;
}
.content h1{
    font-family: "Aguafina Script", Arial;
    font-size: 100px;
}
